{{#if addNewCategory}}
  <h2>New Category</h2>
  <form>
  <div class="form-group">
    <label for="name">Category</label>
    {{input value=name id="name"}}
  </div>
<div class="form-group">
    <label for="listingTitle">Title</label>
    {{input value=listingTitle id="listingTitle"}}
  </div>
  <button {{action 'saveA'}}>Save</button>
  </form>
  {{else}}
  <button {{action 'categoryFormShow'}}>New Category</button>
{{/if}}
